.scroll {
    white-space: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.vertical-align-middle {
    display: inline-block;
    vertical-align: middle;
}

.scroll::-webkit-scrollbar {
    display: none;
}